*
{
    /* Temporario */
    font-family: monospace;
    letter-spacing: .1rem;
    font-size: 1.3rem;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* Temporario */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}