
/* responsive */
@media screen and (max-width: 1190px)
{
    .displayCard
    {
        height: 130%;
    }
}
@media screen and (max-width: 1000px)
{
    .displayCard
    {
        height: 110%;
    }
    .apresentaçãoText1
    {
        font-size: 1.2rem;
    }
    .titleInf
    {
        font-size: 2rem;
    }
}
@media  screen and (max-width: 850px)
{
    .barDivisionBottom
    {
        width: 90%;
        transform: translate(5%,0);
    }
    .displayCard
    {
        display: block;
        height: 170%;
    } 
    .apresentaçãoText1
    {
        font-size: 1.5rem;
        text-align: center;
    }
    .btnMoreInf
    {
        margin-top: 0;
    }
}