/* By Vitor Gabriel de Oliveira */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* fonts import */
    font-family: 'Poppins', sans-serif;
}
body
{
    font-size: 16px;
    background: #fff;
}
/* Display #1 */
.topDetails
{
    position: absolute;
}
#allPag
{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* display Main */
.displayLeftApres
{
    margin-top: 10rem;
    margin-left: 2.5rem;
}
.displayCard
{
    background: var(--color-primary);
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.514);
    position: absolute;
    width: 85%;
    height: 90%;
    transform: translate(7.5%, 5%);
    border: .1rem solid #000;
    border-radius: 0.7rem;

    display: inline-flex;
}
.imgProfile
{
    text-align: center;
    width: 100%;
    margin-top: -7rem;
    padding-bottom: 1.5rem;
}
.imgProfile img
{
    border-radius: 50%;
    cursor: pointer;
    width: 50%;

    border: .3rem solid rgb(46, 46, 46);
}
.itemsList
{
    list-style-type: none;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.btnMoreInf
{
    position: absolute;
    margin-left: -3%;
    margin-top: -8rem;
    border-radius: .5rem;
    padding: .3rem;
    transition: .5s;

    display: flex;
    gap: 2rem;
}
.btnMoreInf i
{
    color: rgb(48, 47, 47);
    font-size: 2.5rem;
    transition: .3s;
    cursor: pointer;
    padding: .5rem;
    border-radius: .7rem;
}
.btnMoreInf i:hover
{
    color: rgb(58, 58, 58);
    background: #aaaaaa52;

}
.moreBox
{
    position: absolute;
    margin-left: 3.5rem;
    margin-top: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.356);
    border-radius: .3rem;
    display: none;
}
.moreBox ul li
{
    list-style-type: none;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: .3rem;
    transition: .3s;
    cursor: pointer;
}
.moreBox ul li:hover
{
    color: #888;
}

.barDivision
{
    height: 90%;
    margin-left: 2rem;
    transform: translate(0, 5%);
}
.barDivisionBottom
{
    margin-top: 2.5rem;
}
.displayRigthApres
{
    padding: 2rem;

    width: 85%;

}
.apresentaçãoText1
{
    color: rgb(66, 66, 66);
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: .1rem;
    word-spacing: .5rem;

    margin-top: 3rem;
}
strong
{
    color: rgb(0, 0, 0);
}
.titleInf
{
    color: rgb(68, 68, 68);
    margin-top: 2.5rem;
    font-size: 3rem;
    letter-spacing: .2rem;
    text-align: center;
}